﻿<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ваше имя</label>
                        <input ng-model="vm.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="vm.email">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Пароль</label>
                        <input ng-model="vm.password" type="password">
                    </md-input-container>

                
                    <div layout="column">
                        <md-button class="md-raised md-primary" ng-click="vm.register()">Зарегистрироваться</md-button>
                        <md-button class="md-primary" ui-sref="login">Войти</md-button>

                    </div>
                </div>

            </form>
        </div>
    </md-content>
</div>