﻿<md-content layout="column" flex style="background-color: #eee;">

    <md-content layout="column" flex="none">

        <md-autocomplete placeholder="Добавить в список"
                         md-selected-item-change="vm.onSelect(vm.selectedItem)"
                         md-selected-item="vm.selectedItem"
                         md-search-text="vm.searchText"
                         md-items="item in vm.getMatches(vm.searchText)"
                         md-item-text="item.name"
                         md-delay="50"
                         md-min-length="1">
            <md-item-template>
                <span ng-if="item.isStub">
                    Продукта нет в нашей базе,
                    <a ng-click="$event.stopPropagation();$event.preventDefault();vm.createProduct(vm.searchText,$event);">добавить</a> его?
                </span>
                <span ng-if="!item.isStub" md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
        </md-autocomplete>

        <md-list ng-cloak class="product-items-list">
            <md-list-item class="md-3-line no-margin" ng-repeat="item in vm.products" ng-click="vm.touch(item)">
                <md-checkbox ng-checked="item.compliting"></md-checkbox>

                <div class="md-list-item-text">
                    <span class="line_wrap" ng-class="{'line-through':item.compliting}">{{ item.product.name }}<span class="line"></span></span>
                </div>

                <md-icon md-svg-icon="content:clear" class="md-secondary hue-3" ng-click="vm.deleteTouch(item)"></md-icon>

                <md-progress-linear class="complete" md-mode="determinate" ng-show="item.compliting" ng-value="item.deleteWaiting" style="position: absolute; left: 0; bottom: 0;"></md-progress-linear>
                <md-progress-linear class="delete" md-mode="determinate" ng-show="item.removing" ng-value="item.deleteWaiting" style="position: absolute; left: 0; bottom: 0;"></md-progress-linear>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>


    <md-content layout="column" flex="noshrink" style="background-color: #eee;">
        <ul style="list-style-type: none; padding: 0">
            <li ng-repeat="item in vm.completed" style="padding: 4px 20px;" ng-click="vm.restore(item)" class="no-outline">
                <span style="text-decoration: line-through">{{item.product.name}}</span>
            </li>
        </ul>
    </md-content>


    <md-content flex layout="row" layout-align="center center" style="background-color: #eee;" ng-show="vm.isEmpty() && vm.spinner.show()">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </md-content>
</md-content>