﻿<md-content ng-controller="HeaderController as vm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><a ui-sref="lists.list">{{title}}</a></h2>
            <span flex></span>
            <md-button class="md-primary" aria-label="Settings" ng-click="vm.logout()">
               Выйти
            </md-button>
        </div>
    </md-toolbar>
</md-content>