﻿<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
            <form name="productListForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm  md-no-float style="margin-bottom: 0;">
                        <label>Название</label>
                        <input ng-model="vm.model.name">
                    </md-input-container>
                    <md-list ng-cloak class="users-list" ng-show="!vm.isEmpty()">
<!--                        <md-subheader class="md-no-sticky">Пользователи списка</md-subheader>-->
                        <md-autocomplete placeholder="Добавить в список"
                                         md-selected-item-change="vm.onSelect(vm.selectedItem)"
                                         md-selected-item="vm.selectedItem"
                                         md-search-text="vm.searchText"
                                         md-items="item in vm.getMatches(vm.searchText)"
                                         md-item-text="item.name"
                                         md-delay="50"
                                         md-min-length="1">
                            <md-item-template>
                                <span ng-if="item.isStub">
                                    По вашему запросу ничего не найдено
                                </span>
                                <span ng-if="!item.isStub">
                                    <span class="item-title">
                                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i"> {{item.name}} </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span class="item-metastat">
                                            <strong>{{item.email}}</strong>
                                        </span>
                                    </span>
                                </span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-list-item class="md-3-line no-margin" ng-repeat="item in vm.model.users">
                            <div class="md-list-item-text">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.email }}</p>
                            </div>
                            <md-icon ng-show="item.id != vm.model.creatorId" md-svg-icon="content:clear" class="md-secondary md-hue-3" ng-click="vm.removeUser(item)"></md-icon>
                            <md-divider></md-divider>

                        </md-list-item>
                    </md-list>
                  
                </div>
                
            </form>

    </md-content>
</div>