﻿<div>
    <md-list ng-cloak class="product-list" ng-show="!vm.isEmpty()">
<!--        <md-subheader class="md-no-sticky">Списки покупок</md-subheader>-->
        <md-list-item class="md-3-line no-margin" ng-repeat="item in vm.lists" ng-click="vm.toProducts(item)">
            <div class="md-list-item-text">
                <h3>{{ item.name }}</h3>
                <p>{{ item.itemsList }}</p>
            </div>


            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu,$event)">
                    <md-icon md-menu-origin md-svg-icon="action:settings"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="vm.details(item)">
                            <div layout="row">
                                <p flex>Управление</p>
                                <md-icon md-menu-align-target md-svg-icon="action:assignment" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>

                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-warn" ng-click="vm.delete(item)">
                            <div layout="row">
                                <p flex>Удалить</p>
                                <md-icon md-menu-align-target md-svg-icon="action:delete" style="margin: auto 3px auto 0;"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>

            <!-- <md-icon md-svg-icon="action:settings" class="md-secondary md-hue-3" ng-click="vm.manage()"></md-icon>-->
            <md-divider></md-divider>

        </md-list-item>
    </md-list>

    <div layout="row">
        <md-button class="md-primary md-fab md-fab-bottom-right"ng-click="vm.create()">
            <md-icon class="md-primary" md-svg-icon="content:add"  style="font-size: 30px;"></md-icon>
        </md-button>
    </div>

    <div flex layout="row" layout-align="center center" ng-show="vm.isEmpty()&& vm.spinner.show()">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>