﻿.product-list {
    md-list-item.no-margin {
        min-height: 48px;
        margin: 0;
        & > .md-no-style {
             min-height: 48px;
        margin: 0;

        }       
    }
}

.product-items-list {
    md-list-item.no-margin {
        min-height: 30px;

        & > .md-no-style {
            min-height: 30px;

            .md-list-item-text {
                margin: 0;
            }
        }

        .md-list-item-inner {
            min-height: 30px;
        }
    }
    md-progress-linear.md-default-theme.complete .md-bar, md-progress-linear.complete .md-bar{
        background-color: green;
    }
        md-progress-linear.md-default-theme.delete .md-bar, md-progress-linear.delete .md-bar{
        background-color: rgb(250,0,0);
    }
        md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container{
            background-color:white;
        }
}
