﻿/*md-icon {
  padding:40px;
}

.s64 {
  font-size:64px;
}

.s32 {
  
  font-size:48px;

}

md-icon.fa {
  display:block;
  padding-left:0px;
}

md-icon.s32 span {
  padding-left:8px;
}*/
.product-list md-list-item.no-margin {
  min-height: 48px;
  margin: 0; }
  .product-list md-list-item.no-margin > .md-no-style {
    min-height: 48px;
    margin: 0; }

.product-items-list md-list-item.no-margin {
  min-height: 30px; }
  .product-items-list md-list-item.no-margin > .md-no-style {
    min-height: 30px; }
    .product-items-list md-list-item.no-margin > .md-no-style .md-list-item-text {
      margin: 0; }
  .product-items-list md-list-item.no-margin .md-list-item-inner {
    min-height: 30px; }

.product-items-list md-progress-linear.md-default-theme.complete .md-bar, .product-items-list md-progress-linear.complete .md-bar {
  background-color: green; }

.product-items-list md-progress-linear.md-default-theme.delete .md-bar, .product-items-list md-progress-linear.delete .md-bar {
  background-color: #fa0000; }

.product-items-list md-progress-linear.md-default-theme .md-container, .product-items-list md-progress-linear .md-container {
  background-color: white; }

.line_wrap {
  position: relative;
  display: inline-block; }

.line_wrap .line {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  border-top: 1px solid grey;
  -webkit-transition: width 0.2s ease-in; }

.line_wrap.line-through .line {
  width: 100%; }

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  height: 0; }

.no-outline:focus {
  outline: none;
  border: 0; }

