﻿@import "_icons.scss";
@import "_lists.scss";

.line_wrap {
    position:relative;
    display:inline-block;        
}
.line_wrap .line {
display:inline-block;
    position:absolute;
    left:0;
    top:50%;
    width:0;
    border-top:1px solid grey;
    -webkit-transition: width 0.2s ease-in;
}
.line_wrap.line-through .line {
    width:100%;    
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container{
    height: 0;
}

.no-outline:focus{
     outline: none;
    border: 0;
}