﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/Scripts/angular/angular-material/angular-material.css">
</head>
<body flex layout='column'>
<div ng-app="app" flex layout='column'>
    <script>
            @if (!ViewBag.IsAuthenticated) {
                @:console.log(123);
            @:window.location.hash = "#/app/auth/login";
            }
    </script>

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/utils.js"></script>
    <script src="/Scripts/angular/angular/angular.js"></script>
    <script src="/Scripts/angular/angular-aria/angular-aria.js"></script>
    <script src="/Scripts/angular/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/angular/angular-material/angular-material.js"></script>
    <script src="/Scripts/angular/angular-ui-router.js"></script>
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</div>
</body>
</html>
